<div>
  <% @user.recent_posts.each do |post| %>
    <li>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}", id: "post" do %>
        <%= render partial: "shared/post", locals: { post: post } %>
      <% end %>
    </li>
  <% end %>
</div>