<div>
  <% @user.three_most_recent_posts.each_with_index do |post, i| %>
    <li>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}", id: "post" do %>
        <%= render partial: "shared/post", locals: { post: post } %>
      <% end %>
    </li>
  <% end %>
</div>