<div>
    <%= render partial: "shared/post", locals: { post: @post } %>
</div>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <p><%= comment.user.name %>: <%= comment.text %></p>
    </li>
  <% end %>
</ul>